.playerContainer {
    padding: 3rem 4rem;
    width: 26.5rem;
    height: 100vh;

    background: var(--purple-500);
    color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.playerContainer header {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        width: 5rem;
    }

}


.emptyPlayer {
    width: 100%;
    height: 20rem;
    border: 1.5px dashed var(--purple-300);
    border-radius: 1.5rem;
    background-color: purple;

    padding: 4rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.progress {
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.75rem;
}

.progress span {
    display: inline-block;
    width: 4rem;
    text-align: center;
}

.emptySlider {
    width: 100%;
    height: 0.25rem;
}