.playerContainer {
    padding: 3rem 4rem;
    width: 26.5rem;
    height: 100vh;

    background: var(--purple-500);
    color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.playerContainer header {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        width: 5rem;
    }

}


.emptyPlayer {
    width: 100%;
    height: 20rem;
    border: 1.5px dashed var(--purple-300);
    border-radius: 1.5rem;
    background-color: purple;

    padding: 4rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.progress {
    align-self: stretch;
    display: flex;
    align-items: center; 
    gap: 1rem;
    font-size: 0.875rem;
}

.progress span {
    display: inline-block;
    width: 4rem;
    text-align: center;
}

.slider {
    flex: 1;
}

.emptySlider {
    width: 100%;
    height: 0.25rem;
    background: var(--purple-300);
    border-radius: 2px;
}

.playerContainer footer {
    align-self: stretch;
}

footer.empty {
    opacity: 0.5;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1.5rem;
}

.buttons button {
    background: transparent;
    border: 0;
    font-size: 0;
    color: white !important;
}

.playButton {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background: var(--purple-500);
}

.playButton span {
    font-size: 2rem;
}